@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

/* ####### TITLE SLIDE ####### */ 

/* This is how you customize the logo bar on the title slide  */

aside.gdbar {
  height: 85px;
  background: #ffc712;
}


/* logo on the bar */
.gdbar img {
 width: auto;
 height: 75px;
 position: absolute;
 right: 0;
 margin: 8px 15px;
 vertical-align: center;
}

/* Title */
.title-slide hgroup h1{
  font-size: 3em;
  font-weight: bold;
  line-height: 1.5em;
  color: #ffc712;
  font-family: 'Roboto', sans-serif;
  
}

/* Subtitle*/
.title-slide hgroup h2 {
  background: white;
  font-size: 1.5em;
  text-transform: uppercase;
  border:0;
  padding: 0;
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight:300;
}

/* Author and date*/
.title-slide hgroup p {
  font-size: 1em;
  color: black;
  font-family: 'Roboto', sans-serif;
}




slides > slide.dark {
  background: #F4D164 !important;
  opacity: 1;
}

slides > slide {
  background: linear-gradient(#ffffff, #ffffff 85%, #ffffff);
  background-color: white;
  }




.segue hgroup {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.segue h2 {
  font-size: 60px;
  text-transform: uppercase;
  line-height: 1.4;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  display: inline-block;
  border: 3px solid #fff;
  padding: 5px;
  text-align: center;
  background: #F4D164;
}

.segue h3{
  color: white;
}

h2 {
	color: #000000;
	font-family: 'Roboto Condensed', serif;
}


slides > slide {
  margin-bottom: 0.5em;
  font-family: 'Roboto Condensed', sans-serif;
  color: #666666;
}

img {
  margin-top: -60px;
  }

  div {
    margin-top: -60px;
  }

aside.gdbar img{
  width: auto;
  height:75px;
  position: absolute;
  right:0;
  margin: 8px 15px;
  vertical-align: center;

}







/* This is for the content slides */
slides > slide:not(.nobackground):before {
  width: 0;
  height: 0;

}

/* These are div styles for multi-column layouts */
/* In slide, apply with: */
/* <div class="column-3-left"> */
/* (content) */
/* </div> */
  .column-3-left{
    float: left;
    width: 33%;
    text-align: left;
  }
  .column-3-center{
    display: inline-block;
    width: 33%;
    text-align: center;
  }
  .column-3-right{
    float: right;
    width: 33%;
    text-align: right;
  }
    .column-2-left{
    float: left;
    width: 50%;
    text-align: left;
  }
  .column-2-right{
    float: right;
    width: 50%;
    text-align: right;
  }